name: CI - JMeter Tests

on:
  push:
    branches:
      - main

jobs:
  jmeter-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup JMeter
        run: |
          wget https://downloads.apache.org/jmeter/binaries/apache-jmeter-5.6.3.tgz
          tar -xvzf apache-jmeter-5.6.3.tgz
          echo "$PWD/apache-jmeter-5.6.3/bin" >> $GITHUB_PATH

      - name: Run JMeter tests
        run: |
          mkdir -p results/html
          jmeter -n -t jmeter/testFacadia.jmx -l results/resultats.jtl -e -o results/html

      - name: Upload JMeter Results
        uses: actions/upload-artifact@v4
        with:
          name: jmeter-report
          path: results/html
